<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/my3dText.css">
    <title>环形文字加载动画</title>
</head>
<body>
    <div class="loader">
        <div class="loader-ring">


            <div class="loader-sector">y</div>
            <div class="loader-sector">i</div>
            <div class="loader-sector">z</div>
            <div class="loader-sector">h</div>
            <div class="loader-sector">i</div>
            <div class="loader-sector">x</div>
            <div class="loader-sector">i</div>
            <div class="loader-sector">n</div>
            <div class="loader-sector">g</div>
            <div class="loader-sector">y</div>
            <div class="loader-sector">u</div>
            <div class="loader-sector">n</div>
            <div class="loader-sector">z</div>
            <div class="loader-sector">h</div>
            <div class="loader-sector">u</div>
            <div class="loader-sector"></div>
            <div class="loader-sector"></div>
            <div class="loader-sector"></div>
            <div class="loader-sector"></div>
            <div class="loader-sector"></div>
            <div class="loader-sector"></div>
            <div class="loader-sector"></div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
        </div>
        <div class="loader-ring">
            <div class="loader-sector">x</div>
            <div class="loader-sector">i</div>
            <div class="loader-sector">a</div>
            <div class="loader-sector">o</div>
            <div class="loader-sector">z</div>
            <div class="loader-sector">h</div>
            <div class="loader-sector">u</div>
            <div class="loader-sector">z</div>
            <div class="loader-sector">h</div>
            <div class="loader-sector">u</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
            <div class="loader-sector">-</div>
        </div>
    </div>
</body>
</html>