/*=============== GOOGLE FONTS 引入字体===============*/
@font-face{
  font-family: 'Ali';
  src: url('../iconfont/AlimamaAgileVF-Thin.woff2') format('woff2')
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
  --day-color: hwb(0 0% 100% / 0.999);
  --night-color:#77baf5;
  --mo-color: hwb(19 3% 4% / 0.999);

  /*========== Font and typography ==========*/
  /* 字体排版 */
  /*.5rem = 8px | 1rem = 16px ...*/
  font-family: 'Ali';
  --body-font: "Ali", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  /* 字体粗细 */
  --font-regular: 400;
  --font-medium: 500; 
  --font-semi-bold: 600;

  /*========== z index 指数 ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}
 
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  background-size: cover;
}
input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 210vh;
  object-fit: cover;
  object-position: center;
  z-index: -10;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  font-family: 'Ali';
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold); 
  transition: color .4s;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices 对于移动设备*/
/* 导航栏 */
@media screen and (max-width: 1023px) { 
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH搜素 ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search 展示*/
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN登录 ===============*/
.login__form, 
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices 对于中型设备 */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices 对于大型设备*/
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}
/* 分割线 */
.main-box{
    width: 100%; /* 宽度为100% */
    height: 200vh; /* 高度为视口高度 */
    margin-top: 0;
    background-position: center;
    background-size: cover;
    /* 设置背景图片 */
   
}
/* 顶部导航栏 */
.top-nav {
     position: fixed;/*固定容器 */
    display :flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* 宽度为父容器的20% */
    height: 100px; /* 设置顶部导航栏高度 */
}
.content{
    height: 100%;
    margin-top: auto;
}

.flex-box{
    display: flex;
}
/* 左侧导航栏 */
.left-nav{
    height: 100%;
    width: 1%;
    margin-top:250px;
    position: fixed;
}
/* 左侧导航栏 */
/* 左侧导航栏 */
.menu-box {
  position: relative;
  font-family: 'Ali';
  letter-spacing: 0.5px;
  /* 字体粗细 */
  font-weight: 600;
  width: fit-content;
  padding: 6px 12px;
  box-sizing: border-box;
  color: var(--night-color);
  background-color: transparent;
}
.menu-box h1{
  color:rgb(37, 31, 227);
}
/* 隐藏*/
.menu-box input[type='checkbox'] {
    display: none;
}
/* 按钮 */
.menu-box>label {
  position: absolute;
  top: 48%;
  right: 0;
  transform: translateX(50%);
  width: 18px;
  height: 60px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #000;
  background-color: var(--body-color);
  overflow: hidden;
  cursor: pointer;
}

.menu-box>label>i {
  font-weight: 900;
  text-indent: -3px;
  font-size: 20px;
  transition: transform var(--transition-menu-time);
  transform: rotate(0deg);
}

.menu-box>label:hover {
  box-shadow: 0px 0px 2px 0px #000;
  color: var(--font-color-mi-hover);
}

.menu-box>input#menu-btn:checked+label>i {
  transform: rotate(180deg);
}

.menu{
  width: 220px;
  min-height: 100%;
  cursor: pointer;
  overflow: hidden;
  transition: width var(--transition-menu-time);
  color: var(--font-color-mi);
}

.menu-box>input#menu-btn:checked~.menu {
  width: 0;
}
.menu-title {
  text-align: center;
  margin-bottom: 15px;
}
/* 每个大组件 */
.menu-item>label{
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: var(--border-radius-mi);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-item>label:hover {
  color: var(--font-color-mi-hover);
}
/* 图标 */
.menu-item>label>i:first-child {
  flex: none;
  margin-right: 6px;
  font-size: 20px;
}

.menu-item>label>span {
  flex: 1;
}

.menu-item>label>i:last-child {
  flex: none;
  font-weight: 900;
  transform: rotate(0deg);
  transition: transform var(--transition-menu-time);
}

.menu-item>input:checked+label>i:last-child {
  transform: rotate(180deg);
}
.menu-content {
  height: 0;
  overflow: hidden;
  transition: height var(--transition-menu-time);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-menu-bg);
}
.menu-content span{
    margin-top: 8px;
}
/* 选项，若 n 项，就 n * 40px */
.menu-item>input#menu-item1:checked~.menu-content {
  height: calc(4 * 20px);
}

.menu-item>input#menu-item2:checked~.menu-content {
  height: calc(9 * 20px);
}

.menu-item>input#menu-item3:checked~.menu-content {
  height: calc(5* 40px);
}
.menu-item>input#menu-item4:checked~.menu-content {
  height: calc(3 * 40px);
}
.menu-item>input#menu-item5:checked~.menu-content {
  height: calc(1 * 40px);
}
.menu-content>span {
  width: 100%;
  text-indent: 20px;
  line-height: 40px;
  border-radius: var(--border-radius-mi);
}
.menu-content>span {
  width: 100%;
  text-indent: 20px;
  line-height: 5px;
  border-radius: var(--border-radius-mi);
}
/* 对于中型设备 */
@media screen and (min-width:524px){
    .menu-box {
        margin-top: 180px;
        position: fixed;
        font-family: 'Ali';
        letter-spacing: 0.5px;
        /* 字体粗细 */
        font-weight: 600;
        width: fit-content;
        padding: 6px 12px;
        box-sizing: border-box;
      }
      /* 按钮 */
        .menu-box>label {
        position: absolute;
        top: 42%;
        right: 0;
        transform: translateX(50%);
        width: 18px;
        height: 60px;
         border-radius: 20px;
        box-shadow: 0px 0px 4px 0px #000;
        background-color: var(--body-color);
        overflow: hidden;
        cursor: pointer;
     }
}
/* 对于移动设备 */
@media screen and (max-width:1023px){
    .menu-box {
        margin-top: 50%;
        position: fixed;
        font-family: 'Ali';
        letter-spacing: 0.5px;
        /* 字体粗细 */
        font-weight: 600;
        width: fit-content;
        padding: 6px 8px;
        box-sizing: border-box;
      }
      .menu{
        width: 80px;
        font-size: 12px;
    }
      .menu-box h1{
        font-size: 12px;
      }
      /* 隐藏*/
      .menu-box input[type='checkbox'] {
          display: none;
      }
      /* 按钮 */
      .menu-box>label {
        position: absolute;
        top: 37%;
        right: 0;
        transform: translateX(50%);
        width: 10px;
        height: 45px;
        border-radius: 20px;
        box-shadow: 0px 0px 4px 0px #000;
        background-color: var(--body-color);
        overflow: hidden;
        cursor: pointer;
      }
      .menu-title {
        text-align: center;
        margin-bottom: 5px;
      }
      /* 每个大组件 */
      .menu-item>label{
        position: relative;
        width: 100%;
        height: 20px;
        border-radius: var(--border-radius-mi);
        display: flex;
        align-items: center;
      }
      /* 调整图标大小 */
      .menu-item>label>i:first-child {
        font-size: 8px;
      }
      .menu-item>label>i:last-child {
        font-size: 12px;
      }
      .menu-content span i{
        font-size: 0px;
      }
      /* 选项，若 n 项，就 n * 40px */
    .menu-item>input#menu-item1:checked~.menu-content {
      font-size: 10px;
      margin-left: -12px;
      height: calc(4 * 20px);
    }

    .menu-item>input#menu-item2:checked~.menu-content {
       margin-left: -12px;
       font-size: 10px;
       height: calc(9 * 20px);
    }

    .menu-item>input#menu-item3:checked~.menu-content {
    font-size: 10px;
    margin-left: -12px;
   height: calc(5* 20px);
    }
    .menu-item>input#menu-item4:checked~.menu-content {
     margin-left: -12px;
    font-size: 10px;
    height: calc(3 * 20px);
    }
    .menu-item>input#menu-item5:checked~.menu-content {
    margin-top: 6px;
    margin-left: -12px;
    font-size: 10px;
    height: calc(1 * 20px);
    }
}
/* 对于设备大小左侧导航的栏调整结束 */
.menu-content>span:hover {
  background-color: var(--color-bg-mi-hover);
  color: var(--font-color-mi-hover);
}
.set-line {
  margin: 20px 0 10px 0;
  width: 100%;
  height: 5px;
}
.menu-item span a{
  color:rgb(25, 0, 255);
}
/* 左侧导航栏结束 */
/* 主体内容区域- */
.main-body{
    width: 99%;
    height: 100%;
    margin-left: 1%;
    margin-top: 105px;
    margin-left: 0;
    flex-direction: column;
}
/*主页里的搜索框*/
.searchBody{
    display: flex;
    justify-content: center;
	  align-items: center;
	  flex-direction: column;
    width:100% ;
	  height: 200px;
    overflow: hidden;
}
/* 搜索框 */
.home-container{
  margin-top: 50px;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  padding: auto 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 5px 1px gray;
  z-index: 1;
}
/* 搜索框盒子 */
.search-box{
  width: 200px;
  transition: all 0.3s ease-in-out;
}
.home-container:hover .search-box{
  width: 440px;
}
/* 搜索栏图标 */
.item{
  margin: auto 20px;
  font-size: 20px;
  opacity: 0;
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}
/* 透明度 */
.home-container:hover .item{
  opacity: 1;
}
.homeSearch-btn{
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  background: inherit;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}
/* 搜索框里提示 */
.homeSearch-btn::placeholder{
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 10px #f3f3f3;
}
.home-container:hover .homeSearch-btn::placeholder{
  color: rgba(119, 119, 119, 0.9);
}
/* 时间 */
.home-timeBox{
  background-color: transparent;
}
/* 对设备大小对搜索框和时间盒子调整大小 */
@media screen and (min-width:624px){  
  .home-container{
      margin-top: 50px;
      height: 52px;
      background: rgba(255, 255, 255, 0.7);
      display: flex;
      padding: auto 10px;
      justify-content: space-around;
      align-items: center;
      border-radius: 30px;
      backdrop-filter: blur(4px);
      box-shadow: 0 0 5px 1px gray;
  }
  /* 时间 */
  .home-timeBox{
      background-color: transparent; 
      height: 40px;
      top: 40%;
      color: white;
      text-align: center;
      line-height: 40px;
      font-size: 40px;
  }
}
/* 对于移动设备 */
@media screen and (max-width:1023px){
/* 搜索框 */
.searchBody{
  margin-top: -56px;
  display: flex;
  justify-content: center;
  width:100% ;
  height: 80px;
  overflow: hidden;
}
  
  .home-container{
      margin-top: 0px;
      height: 30px;
      background: rgba(255, 255, 255, 0.7);
      display: flex;
      padding: auto 10px;
      justify-content: space-around;
      border-radius: 30px;
      backdrop-filter: blur(4px);
      box-shadow: 0 0 5px 1px gray;
  }
  .search-box{
      width: 60px;
      transition: all 0.3s ease-in-out;
  }
  .home-container:hover .search-box{
      width: 120px;
  }
  .home-timeBox{
      /* position: absolute; */
      background-color: transparent;
      height: 40px;
      color: white;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
  }
}
/*  */
.homeSearch-btn:hover::placeholder{
  opacity: 0;
}
.homeSearch-btn:active::placeholder{
  opacity: 0;
}
.home-container:hover .homeSearch-btn::placeholder{
    color: rgba(119, 119, 119, 0.9);
}
/* 按钮背景颜色透明 */
.main-button{
   
    background-color: transparent;
    border: rgb(241, 236, 236);
    color:var(--mo-color);
    padding: 5px 3px;
    cursor: pointer;
    font-size: 20px;
}
/* 对设备的大小对主页搜索框调整 */
/* 分割线 */
/* 功能内容分割线 */
/* 画盒子 */
.above-box{
  margin-top: 3%;
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
}
.above-box2{
    width: 55%;
    justify-content: center;
}
.above-box3{
    top: 0;
	left: 0;
	/* 给大图片 也加一个透明边框 不为了啥 就是为了和小图片对称 */
	border: 1% solid transparent;
    width: 100%;
    height: 72%;
    background-size: contain;
	transition: all 0.5s;
}
.above-box3 img{
    height: 100%;
    width: 100%;
}
.above-box2 ul{
    margin-top: 2%;
    position: relative;
     display: flex;
     list-style: none;
}
.above-box2 ul li img{
    max-width: 100%;
}
.above-box2 ul li{
    border: 5px solid rgba(0,0,0,0);
    cursor: pointer;
}
.above-box2 ul li p{
    display: flex;
    margin-top: 0;
    justify-content: center;
}
/* 移动框 start */
.above-box2 ul .frame {
	position: absolute;
	left: 0;
	bottom: 1%;
	width: 20%;
	height: 100%;
	border: 5px solid salmon;
	/* 这里有bug 一直闪烁 这个问题的原因就是 这个移动框虽然没有背景色 但是覆盖了这个图片 */
	/* 加这个属性就可以了 让这个移动框 不在被鼠标捕捉到 */
	pointer-events: none;
	/* 加过渡 */
	transition: all 0.5s;
}
/* 用伪元素做三角 */
.above-box2 ul .frame::before {
	content: "";
	position: absolute;
	top: -17px;
	/* calc方法自动计算 让三角盒子水平居中 */
	left: calc(50% - 15px);
	width: 30px;
	height: 16px;
	background-color: salmon;
	/* 这个属性 可以去看看 这里就不啰嗦了 */
	clip-path: polygon(0 100%, 50% 0, 100% 100%); 
}
/* 移动框 end */
.above-box2 ul li:nth-child(1):hover ~ .frame {
	left: 0;
}
.above-box2 ul li:nth-child(2):hover ~ .frame {
	left: 20%;
}
.above-box2 ul li:nth-child(3):hover ~ .frame {
	left: 40%;
}

.above-box2 ul li:nth-child(4):hover ~ .frame {
	left: 60%;
}
.above-box2 ul li:nth-child(5):hover ~ .frame {
	left:80%;
}
.above-box ul li a{
  color:var(--mo-color);
}
/* 隐藏文字盒子 */
.text-on{
  position: absolute;
  top: 60%;
  left: 50%;
  background:linear-gradient(to right, #9796f0, #fbc7d4);
  transform: translate(-50%,-50%);
 display: none;
 font-size: 24px;
}
/* 123 */
@media screen and (max-width:1023px){  
  .above-box{
    margin-top: 15px;
      display: flex;
      width: 100%;
      height: 125px; 
  }
  .above-box2{
    width: 55%;
    display: flex;
    flex: content;
    flex-wrap: wrap;
    
}
  .above-box3{
    top: 0;
	  left: 0;
    width: 60%;
    height: 100px;
    background-size: contain;
	  transition: all 0.5s;
}
.above-box2 ul{
  width: 60%;
  margin-top: 2%;
   display: flex;
   list-style: none;
}
.above-box2 ul li img{
  height: 100%;
  width: 100%;
}
.above-box2 ul li{
  border: 5px solid rgba(0,0,0,0);
  cursor: pointer;
}
.above-box2 ul li p{
  font-size: 4px;
  display: flex;
  margin-top: 0;
  justify-content: center;
}
/* 移动框 start */
.above-box2 ul .frame {
	position: absolute;
	left: 0;
	bottom: 2px;
	width: 20%;
	height: 100%;
	border: 2px solid salmon;
	pointer-events: none;
	/* 加过渡 */
	transition: all 0.5s;
}
/* 用伪元素做三角 */
.above-box2 ul .frame::before {
	content: "";
	position: absolute;
	top: -17px;
	/* calc方法自动计算 让三角盒子水平居中 */
	left: calc(50% - 6px);
	width: 12px;
	height: 16px;
	background-color: salmon;
	/* 这个属性 可以去看看 */
	clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
/* 移动框 end */
.text-on{
  position: absolute;
  top: 30%;
  left: 50%;
  background:linear-gradient(to right, #9796f0, #fbc7d4);
  transform: translate(-50%,-50%);
  display: none;
  font-size: 12px;
}
}
/* 分割线 轮播图-结束 */
/* 文字居中选择器 */
.center-w{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.foot-font{
  background-color: rgb(15, 3, 3);
  width: 100%;
  height: 100px;
}
.img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.img-box img{
  height: 400px;
  width: 35%;
  margin-top: 15px;
  margin-left: 15px;
}
@media screen and (max-width:386px){
  .img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .img-box img{
    height: 80px;
    width: 35%;
    margin-top: 15px;
    margin-left: 15px;
  }
}
